# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# Environment / secrets
.env
*.env

# Byte-compiled / cache
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# Logs
*.log
